body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  background-color: #bbdefb;
}

.survey-container {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  
}

.survey-question {
  
  display: flex;
  width: 93%;
  background: #fff;
  padding: 3rem 0 3rem 5rem;
  border-radius: 1rem;
  justify-content: flex-start;
 
}

.survey-question form{
    width: 100%;
    flex-direction: column;
    margin-left: -3rem;
}


.survey-question ul {
    list-style-type: none;
    margin-left: -2.6rem;
}
.survey-question ul li {
    background-color:#e3f2fd ;
    margin-bottom: 0.8rem;
    padding: 0.6rem;
    
}

h2{
    color:rgb(26, 178, 255);
   
}

label > input[type="radio"] {
    display: none;
  }

label > input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: rgb(26, 178, 255);
    cursor: pointer;
    
  }

  label > input[type="radio"]:checked + *::before {
    background: radial-gradient(rgb(26, 178, 255) 0%,rgb(26, 178, 255) 40%, transparent 50%, transparent);
    border-color:rgb(26, 178, 255)l;
  }
  label > input[type="radio"]:checked + * {
    color:rgb(26, 178, 255);
  }

.survey-header img {
  width: 180px;
  margin-top: 10px;
}

.survey-footer img{
  width: 150px;
  margin-bottom: 2rem;
  
}

.survey-button{
    display: flex;
    justify-content: flex-end;
    margin-top:1.5rem;
   
}

button {
  margin-left: 50px;
  border: none;
  background-color:rgb(26, 178, 255);
  color: white;
  margin-right: 3px;
  padding: 8px;
  border-radius: 5px;
  align-items: flex-end;
  justify-content: flex-end;
}

button:hover {
  border: none;
  cursor: pointer;
}
